{{define "base"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/logotype.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    {{template "header" .}}
</header>

    <main>
        {{template "main" .}}
    </main>

    <footer>
        <p>Сайт для сравнения погоды в местах проведения российских молодежных форумов; 2026 г.</p>
        <p>Контакты для вопросов и предложений:</p>
        <p><a href="https://t.me/eklipsan">t.me/eklipsan</a></p>
        <p><a href="mailto:kshabalin11@yandex.ru">kshabalin11@yandex.ru</a></p>
    </footer>
{{end}}