{{template "base" .}}
<head>
    {{define "title"}}Forumeather{{end}}
</head>
<body>
    {{define "header"}}
        <h1>Forumeather</h1>
        <p class="description">Прогноз погоды в местах проведения российских форумов</p>
    {{end}}

    {{define "main"}}
        <section class="controls">
            <form method="GET" action="/">
            <input type="text" value="{{.SearchQuery}}" name="search" class="city-input" id="cityInput" placeholder="Поиск по названию форума, месту или тематике...">
            <button type="submit" class="btn">Поиск</button>
            {{if .SearchQuery}}
                <a href="/" class="btn">Очистить</a>
            {{end}}
        </section>

        <section class="comparison-container" id="weatherContainer">
            {{range .ForumsInfo}}
            <div class="weather-card">
                    <div class="weather-header">
                        <div class="forum-name">{{.Name}}</div>
                    </div>
                    <div class="weather-header">
                        <div class="city-name">{{.Place}}</div>
                    </div>
                    <div class="weather-info">
                        <div class="condition">{{.WeatherFromPictocode}}</div>
                        <div class="weather-item">
                            <div class="weather-label">Ощущается как</div>
                            {{if gt .Temperature 0.0}}
                            <div class="weather-value" style="color: #ff2400">{{printf "%.2f °C" .Temperature}}</div>
                            {{else}}
                            <div class="weather-value" style="color: blue">{{printf "%.2f °C" .Temperature}}</div>
                            {{end}}
                        </div>
                        <div class="weather-item">
                            <div class="weather-label">Высота над уровнем моря, м</div>
                            <div class="weather-value">{{.Height}}</div>
                        </div>
                        <div class="weather-item">
                            <div class="weather-label">Скорость ветра, м/с</div>
                            <div class="weather-value">{{printf "%.2f" .Windspeed}}</div>
                        </div>
                        <div class="weather-item">
                            <div class="weather-label">Тематика форума</div>
                            <div class="weather-value">{{.Topics}}</div>
                        </div>
                    </div>
                    <a href="/forum?id={{.ID}}" class="btn" style="display: block; margin: 0 auto; text-align: center;">Прогноз на 10 дней</a>
                </div>
                {{else}}
                <div class="empty-state" id="emptyState">
                    По запросу "{{.SearchQuery}}" ничего не найдено.
                </div>
                {{end}}
        </section>
    <div class="pagination">
    {{range .TotalPages}}
        <a href="/?search={{$.SearchQuery}}&page={{.}}"
        class="btn {{if eq . $.CurrentPage}}active{{end}}">
            {{.}}
        </a>
    {{end}}
    </form>
    {{end}}

</div>
</body>
</html>