METEOBLUE_API_KEY="65tKb4cM9wDXfU2sW"
METEOBLUE_TZ="utc"
METEOBLUE_FORMAT="json"
METEOBLUE_URL="https://my.meteoblue.com/packages/"
DATABASE_PATH="forumeather.db"
PORT=":8080"

# nXbOjqDSC12ALe3s - disabled api